<section class="w-100 p-5 text-white">
    <div class="container p-5">
        <div class="row">
            <div class="col-md-4">
                <div class="text-center">
                    <h3>LOCATION</h3>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <h3>AROUND THE WEB</h3>
                    <div class="social-icons mt-4">
                        <span><i class="fa-brands fa-facebook" style="color: #ffffff;"></i></span>
                        <span><i class="fa-brands fa-twitter" style="color: #ffffff;"></i></span>
                        <span><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></span>
                        <span><i class="fa-solid fa-globe" style="color: #ffffff;"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <h3>ABOUT FREELANCER</h3>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
    </div>
</section>
