<section class="w-100 vh-100 d-flex justify-content-center align-items-center text-white">

    <div>
        <h1 class="text-center text-uppercase position-relative mb-5">about component <span><i class="fa-solid fa-star" style="color: #ffffff;"></i></span></h1>
        
        <div class="container px-5 mt-3">
            <div class="row px-5">
                <div class="col-md-6">
                    <div>
                        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>