<nav >
    <nav class="navbar navbar-expand-lg position-fixed w-100 p-3">
        <div class="container">
            <a class="navbar-brand" routerLink="/home" >START FRAMEWORK</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item me-2">
                        <a class="nav-link" routerLink="/about"  routerLinkActive="rounded linkActive" >ABOUT</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link" routerLink="/portfolio"  routerLinkActive="rounded linkActive" >PORTFOLIO</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link" routerLink="/contact"  routerLinkActive="rounded linkActive" >CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</nav>